@font-face {
    font-family: 'JuliaMono';
    src: url('/fonts/JuliaMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.mch-red {
    color: #f08080;
}

.mch-green {
    color: #7fe97f;
}

.mch-blue {
    color: #7cb2f0;
}

* {
    font-family: "JuliaMono";
    color: whitesmoke;
    background-color: #404040;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.sidebar {
    /* TODO: make sidebar not scroll */
    height: 100%;
    margin-left: 20px;
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}

.main {
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

.footer {
    text-decoration: none;
    line-height: 0.5;
}

.nav {
    text-decoration: none;
}

.home_page {
    height: 100%;
}

.logo_container {
    width: 50%;
    margin: auto;
    position: relative;
    left: -75px;
    top: 30vh;
}