@font-face {
    font-family: 'JuliaMono';
    src: url('/fonts/JuliaMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.mch-red {
    color: #f08080;
}

.mch-green {
    color: #7fe97f;
}

.mch-blue {
    color: #7cb2f0;
}

* {
    font-family: "JuliaMono";
    color: whitesmoke;
    background-color: #404040;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
}

.sidebar {
    float: left;
    width: 130px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin-left: 20px;
}

.main {
    position: absolute;
    left: 150px;
    clear: left;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100%;
    margin-top: auto;
}

.nav {
    text-decoration: none;
}

.home_page {
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
}

.logo_container {
    width: 50%;
    margin: auto;
    position: relative;
    left: -150px;
    top: -100px;
}