---
import BaseLayout from "../layouts/BaseLayout.astro";
const { default: mch_logo } = await import("/public/mch_colorful.svg?raw");
---

<BaseLayout pageTitle="mch - /">
	<div class="home_page">
		<div class="logo_container">
			<Fragment set:html={mch_logo} />
		</div>
	</div>
</BaseLayout>
