<nav>
    <div style="padding:5px"><a href="/" class="nav">/</a></div>
    <div style="padding:5px"><a href="/about/" class="nav">├/about</a></div>
    <div style="padding:5px"><a href="/blog/" class="nav">└/blog</a></div>
</nav>
